@import url("./reset.css");

:root {
    --white: #fff;
    --black: #000;
    --header-bg: #35444F;
    --heading-secondary-text: #4BCAFF;
    --aside-hover-bg: #DBDBDB;
    --header-hover-bg: #222F3A;
    --aside-link: #485863;
    --text: #2C2C2C;
    --footer-link: #3181A6;
    --copyright: #010101;
    --footer-bg: rgba(99, 105, 110, 0.48);
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 60px 0;
}

.heading {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}

.heading-link {
    color: var(--black);
    text-decoration: none;
}

.heading__text--blue {
    color: var(--heading-secondary-text);
}

.header__nav__items {
    display: flex;
}

.header__nav-item {
    flex-grow: 1;
    text-align: center;
    background: var(--header-bg);
    padding: 25px 30px 20px;
    border-right: 1px solid var(--white);
    cursor: pointer;
}

.header__nav-item-placeholder {
    background: var(--header-bg);
    min-width: 150px;
    border-right: 1px solid var(--white);
}

.header__nav-item:hover {
    background: var(--header-hover-bg);
}

.header__nav-item-placeholder:last-child {
    border-right: none;
}

.header__nav-link {
    color: var(--white);
    font-size: 24px;
    text-decoration: none;
}

.center-wrapper {
    display: flex;
}

.aside__nav {
    border: 1px solid var(--black);
    min-width: 345px;
}

.aside__nav-item {
    padding: 20px 40px;
    cursor: pointer;
}

.aside__nav-item:hover {
    padding: 20px 60px;
    background-color: var(--aside-hover-bg);
}

.aside__nav-link {
    font-size: 27px;
    color: var(--aside-link);
    text-decoration: none;
}

.main-section {
    padding-left: 40px;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 530px;
    border: 1px solid var(--black);
}

.logo {
    width: 320px;
    height: 380px;
}

.img-wrapper:hover .logo {
    transform: scale(1.1);
    transition: all 1s;
}

.text {
    font-size: 18px;
    color: var(--text);
    margin-top: 40px;
}

.footer {
    margin: 60px 0 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background: var(--footer-bg);
    padding-left: 20px;
    padding-right: 40px;
}

.footer__nav__items {
    display: flex;
}

.footer__nav-item {
    font-size: 28px;
    padding: 20px;
    cursor: pointer;
}

.footer__nav-link {
    color: var(--black);
    padding-bottom: 10px;
    text-decoration: none;
}

.footer__nav-item:hover .footer__nav-link {
    color: var(--footer-link);
    border-bottom: 1px solid var(--footer-link);
}

.copyright {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--copyright);
}